# Ссылка на основную базу данных (замените user, password и db_name на свои)
DATABASE_URL=postgresql+asyncpg://your_user:your_password@localhost:5432/your_database_name

# Ссылка на тестовую базу данных для pytest
TEST_DATABASE_URL=postgresql+asyncpg://your_user:your_password@localhost:5433/your_test_database_name